
html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
#root, .App {
	height: 100%;
}
body {
	font-family:"Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
}
h1 {
	color:#666;
	font-size:20px;
	font-size:1.25rem;
	text-align:center;
	margin:0;
	padding:0.5rem 0;
}
a {
	color:#0095dd;
	text-decoration:none;
}
a:hover, a:focus {
	color:#2255aa;
	text-decoration:underline;
}
figure {
	/* max-width:64rem; */
	width:100%;
	height:100%;
	/* max-height:30.875rem; */
	margin: auto;
	background-color:black;
	position: relative;
	overflow: hidden;
	display: flex;
    flex-direction: column;
}
figure > div:first-child * {
	display: none;
}
figure > div:first-child video {
	display: block;
}
figcaption {
	display:block;
	font-size:12px;
	font-size:0.75rem;
	color:#fff;
}
video {
	width:100%;
	height: 100%;
}
video.ext-media-player {
	height: 100%;
}
.video-dimensions {
    width: 100% !important;
    height: 100% !important;
}
/* .video-dimensions * {
	display: none;
}
.video-dimensions video {
	display: block;
} */
/* controls */
.controls, .controls > * {
	padding:0;
	margin:0;
}
.controls {
	/* overflow:hidden; */
	width:100%;
    height: 3rem;
    position: absolute;
	transition: all 0.2s ease;
	transform: translateY(0rem);
	/* opacity: 0; */
	bottom: -2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.controls .buttons-container {
    flex: 1 1;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
	transition: all 0.2s;
	position: relative;
	z-index: 1;
}
.controls #time-progress {
	position: relative;
	z-index: 1;
}
.controls button {
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
  	text-overflow:ellipsis;
  	border:none;
  	cursor:pointer;
  	text-indent:-99999px;
  	/* background:transparent; */
  	background-size:contain;
  	background-repeat:no-repeat;
}
.controls button:hover, .controls button:focus {
	opacity:0.5;
}
.controls #time-progress {
	cursor:pointer;
	width: 100%;
	height: 8px;
	min-height: 8px;
	font-size: 0px;
	position: relative;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s;
}
.controls #progress {
	display:block;
	width:100%;
	height:100%;
	border:none;
	overflow:hidden;
	color:#0095dd; /* Internet Explorer uses this value as the progress bar's value colour */
	-webkit-appearance: none;
}
.controls #progress[data-state="fake"] {
	background:#e6e6e6;
}
.controls #progress span {
	width:0%;
	height:100%;
	display:inline-block;
	background-color:#2a84cd;	
}

.controls #progress::-moz-progress-bar {
	background-color:#0095dd;
}
/* Chrome requires its own rule for this, otherwise it ignores it */
.controls #progress::-webkit-progress-value {
	background-color:#0095dd;
}

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
video:-webkit-full-screen + .controls {
	background:#ccc; /* required for Chrome which doesn't heed the transparent value set above */
}
/* hide controls on fullscreen with WebKit */
figure video::-webkit-media-controls {
	display:none !important;
}

.vjs-tech, .vjs-poster {
	pointer-events: none !important;
}