@font-face {
    font-family: "MC_font";
    src:    url("./avenir-light-webfont.ttf"),
            url("./avenir-light-webfont.eot"),
            url("./avenir-light-webfont.woff");
}
.controls {
    & > * {
        .unselectable;
    }
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    transform-style: preserve-3d;
}
.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
figure {
    font-family: "MC_font";
    justify-content: center;
    &.is-ios {
        #volume-progress {
            display: none;
        }
    }
    &.ios-fullscreen {
        position: fixed;
        z-index: 200;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

        #playlistContainer.small {
            #playlist-body {
                height: ~'calc(100% - 25px - 9rem)' !important;
            }
        }
    }
    &:not(.showing-playlist):not(.is-mobile):not(.fullscreen):hover, &.stay-open:not(.showing-playlist) {
        .controls {
            transform: translateY(-2.5rem);
            opacity: 1;
        }

        #time-progress {
            padding: 0 0.5rem;
            opacity: 1;
            #time-knob {
                opacity: 1;
            }
        }

        .controls .buttons-container {
            opacity: 1;
        }

        #playlistContainer {
            #playlist-tab {
                opacity: 1;
                transform: translateX(450px);
            }
            &.small {
                #playlist-tab {
                    transform: translateX(0px);
                }
            }
        }
    }
    &.showing-playlist {
        .controls {
            opacity: 0;
            pointer-events: none;
        }
    }
    &.small-player {
        #playlist-tab {
            height: 55px !important;
        }
    }
}
#time-play-pause-container {
    display: flex;
    //height: 100%;
}
#play-pause-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 0.5rem;
    #play-icon {
        path {
            fill: white;
            stroke: white;
            stroke-width: 40px;
            transition: all 0.2s;
        }
        &:hover {
            path {
                stroke: #0095dd;
                fill: #0095dd;
            }
        }
    }
    #pause-icon {
        height: 100%;
        box-sizing: border-box;
        padding: 4px;
        rect {
            fill: white;
            transition: all 0.2s;
        }
        &:hover {
            rect {
                fill: #0095dd;
            }
        }
    }
}
#video-controls {
    button {
        display: none;
    }
}
.mc-logo-container {
    height: 100%;
    width: 200px;
    img {
        width: 100%;
        height: 100%;
        padding: 8px;
        box-sizing: border-box;
        cursor: pointer;
        .unselectable;

        &.small {
            width: 50px;
            margin-right: auto;
            display: block;
            margin-left: 0;
        }
    }
}
.volume-fullscreen-container {
    //height: 100%;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 8px;
    box-sizing: border-box;

    #volume-icon-container{
        width: 35px;
        height: 35px;
        margin-right: 8px;
        position: relative;
        cursor: pointer;
        polygon {
            fill: white;
            transition: all 0.2s;
        }
        path {
            fill: white;
            stroke: white;
            stroke-width: 24px;
            transition: all 0.2s;
        }
        &:hover {
            #volume-progress {
                pointer-events: auto;
            }
            polygon {
                fill: #0095dd;
            }
            path {
                fill: #0095dd;
                stroke: #0095dd;
            }
        }

        svg {
            .vol-x-icon {
                display: none;
                transform: scale(0.5) translateX(70%) translateY(50%);
            }
            &.none {
                path {
                    fill: none;
                    stroke: none;
                }
            }
            &.one {
                path:last-child {
                    fill: none;
                    stroke: none;
                }
            }
            &.zero {
                .vol-x-icon {
                    display: block;
                }
                path {
                    fill: none;
                    stroke: none;
                }
            }
        }
    }
    
    #fullscreen-icon-container{
        width: 25px;
        height: 25px;
        cursor: pointer;
        polygon {
            fill: white;
            transition: all 0.2s;
        }
        path {
            fill: white;
            stroke: white;
            stroke-width: 24px;
            transition: all 0.2s;
        }
        svg {
            box-sizing: border-box;
            padding: 0px;
            width: 100%;
            height: 100%;
            transition: all 0.2s;

            &:hover {
                polygon {
                    fill: #0095dd;
                }
                path {
                    fill: #0095dd;
                    stroke: #0095dd;
                }
            }
        }
    }
}
#volume-progress {
	cursor:pointer;
	height: 14px;
	width: 70px;
	font-size: 0px;
    position: absolute;
    opacity: 0;
    transform: rotate(-90deg) translateX(0rem);
    transition: all 0.2s;
    transform-origin: left;
    left: 16px;
    top: -12px;
    padding: 5px 8px 5px 8px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    pointer-events: none;
    progress {
        display:block;
        width:100%;
        height:100%;
        border:none;
        overflow:hidden;
        color:#0095dd; /* Internet Explorer uses this value as the progress bar's value colour */
        -webkit-appearance: none;
    }
    progress[data-state="fake"] {
        background:#e6e6e6;
    }
    progress span {
        width:0%;
        height:100%;
        display:inline-block;
        background-color:#2a84cd;	
    }
    
    progress::-moz-progress-bar {
        background-color:#0095dd;
    }
    /* Chrome requires its own rule for this, otherwise it ignores it */
    progress::-webkit-progress-value {
        background-color:#0095dd;
    }
    #vol-bot-arrow {
        position: absolute;
        left: -16px;
        top: 2px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.7);
        border-left: 8px solid rgba(0,0,0,0);
    }
    #volume-knob {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 1px;
        left: 1px;
        background-color: #0095dd;
        border: solid 2px white;
        border-radius: 8px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    }

}
#volume-icon-container:hover #volume-progress, #volume-icon-container.stay-open #volume-progress {
    opacity: 1;
    transform: rotate(-90deg) translateX(0.5rem);
}
#time-progress {
    opacity: 0.6;
    #time-knob {
        width: 8px;
        height: 8px;
        position: absolute;
        top: -2px;
        left: 2px;
        background-color: #0095dd;
        border: solid 2px white;
        border-radius: 8px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.2s;
    }
}
.time {
    // width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: white;
    font-size: 1.125rem;
    letter-spacing: 2px;
    font-weight: 600;

    &.start {
        justify-content: flex-end;
    }
    &.end {
        justify-content: flex-start;
    }
}
#playlist-background {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.2s;
    &.shown {
        opacity: 1;
        pointer-events: auto;
    }
}
#playlistContainer {
    position: absolute;
    height: 100%;
    //width: 320px;
    //background-color: red;
    right: 0;
    display: flex;
    align-items: center;
    #playlist-icon {
        width: 25px;
        height: 25px;
    }
    #playlist-tab {
        height: 95px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;
        transition: all 0.2s;
        opacity: 0;
        transform: translateX(475px);
        border: solid 1px gray;
        border-right: none;
        &:hover {
            background-color: rgba(0,0,0,0.9);
        }
        &.hidden {
            opacity: 0 !important;
            transform: translateX(475px) !important;
        }
    }
    #playlist {
        width: 450px;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 9) 100%);
        opacity: 0;
        transform: translateX(2rem);
        pointer-events: none;
        transition: all 0.2s;
        position: relative;
        padding-left: 1rem;
        box-sizing: border-box;
        transform-style: preserve-3d;

        &.shown {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(0rem);
            //box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.6);
        }

        #playlist-title {
            position: absolute;
            top: 1rem;
            left: 2rem;
            font-size: 1.5rem;
            color: white;
        }

        #playlist-x {
            position: absolute;
            top: 1rem;
            right: 1rem;
            height: 25px;
            width: 25px;
            cursor: pointer;
            opacity: 0.6;
            transition: all 0.2s;
            &:hover {
                opacity: 1;
            }
            path {
                fill: white;
                stroke: white;
            }
        }
        #playlist-body {
            width: 100%;
            height: ~'calc(100% - 25px - 2rem)';
            box-sizing: border-box;
            margin-top: ~'calc(25px + 2rem)';
            padding-right: 1rem;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar { 
                display: none; 
            }
            
        }
        .playlist-item {
            color: white;
            display: flex;
            margin-bottom: 1rem;
            text-align: left;
            cursor: pointer;
            //border-bottom: solid 1px;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 4px;
            transition: all 0.2s;

            &:hover {
                img {
                    opacity: 1;
                }
            }

            &.selected {
                color: rgb(0,154,200);
                border: solid 1px;
                img {
                    opacity: 1;
                    border-radius: 0px;
                }
                .item-left {
                    background-color: rgba(0,0,0,0.9);
                }
            }

            .item-left {
                width: 218px;
                padding: 1rem;
                box-sizing: border-box;
                background-color: rgba(0,0,0,0);
                transition: background-color 0.2s;
                //text-align: right;
                .item-title {
                    font-size: 1.125rem;
                    letter-spacing: 0.5px;
                    margin-bottom: 1rem;
                }

                .item-description {
                    font-size: 0.8rem;
                }
            }

            img {
                width: 200px;
                height: 160px;
                transition: opacity 0.2s;
                opacity: 0.6;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }
    }
}
#playlistContainer.small {
    width: 100%;
    #playlist-tab {
        position: absolute;
        top: ~'calc(50% - 27px)';
        right: 0;
        transform: translateX(25px);
        &.hidden {
            transform: translateX(25px) !important;
        }
    }
    #playlist {
        width: 100%;
        .playlist-item {
            height: 120px;
        }
        .item-left {
            width: 55%;
            padding: 0.5rem;
            .item-title {
                font-size: 1rem;
                letter-spacing: 0px;
                margin-bottom: 0.5rem;
            }

            .item-description {
                font-size: 0.8rem;
            }
        }
        img {
            width: 45%;
            height: 100%;
        }
    }
}